@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?oy98yi");
  src: url("../fonts/icomoon.eot?oy98yi#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?oy98yi") format("truetype"),
    url("../fonts/icomoon.woff?oy98yi") format("woff"),
    url("../fonts/icomoon.svg?oy98yi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-twitter-square:before {
  content: "\e901";
}
.icon-android:before {
  content: "\e902";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-right:before {
  content: "\ea3d";
}
.icon-facebook2:before {
  content: "\ea91";
}
